.DS_Store

*/CodeBERT/Model/
*/CodeT5/Model/
*/StarCoder/Model/
*/StarCoder2/Model/
*/QwenCoder/Model/
*/Qwen2.5Coder/Model/
*/Analysis/


Checklist/
Shell/


Analysis/
Defect_Detection/Analysis/
Defect_Detection/Analysis/*
Defect_Detection/Analysis/MiasmZ3_version1.0/
Defect_Detection/Analysis/MiasmZ3_version1.0/**
Defect_Detection/Analysis/MiasmZ3_version2.0/
Defect_Detection/Analysis/MiasmZ3_version2.0/**
Defect_Detection/Analysis/MiasmZ3_CoSEMARK_str/
Defect_Detection/Analysis/MiasmZ3_CoSEMARK_str/**
Defect_Detection/Analysis/ClangOptimization_CoSEMARK_num/
Defect_Detection/Analysis/ClangOptimization_CoSEMARK_num/**
Defect_Detection/Analysis/ClangOptimization_PoisonCS/
Defect_Detection/Analysis/ClangOptimization_PoisonCS/**

# Defect_Detection/Devign/
Defect_Detection/Devign/**/*.json
Defect_Detection/Devign/**/*.jsonl
Defect_Detection/Devign/**/*.txt

# Code_Translation/CodeTrans/
Code_Translation/CodeTrans/**/*.java
Code_Translation/CodeTrans/**/*.cs
Code_Translation/CodeTrans/**/*.json
Code_Translation/CodeTrans/**/*.jsonl
Code_Translation/CodeTrans/**/*.txt

Code_Translation/XLCoST/

__pycache__
*.pyc
*.png



*.pdf
!CoSEMARK.pdf
