.DS_Store

*/CodeBERT/Model/
*/CodeT5/Model/
*/StarCoder/Model/
*/StarCoder2/Model/
*/QwenCoder/Model/
*/Qwen2.5Coder/Model/

# Defect_Detection/Devign/
Defect_Detection/Devign/**/*.json
Defect_Detection/Devign/**/*.jsonl
Defect_Detection/Devign/**/*.txt

# Code_Translation/CodeTrans/
Code_Translation/CodeTrans/**/*.java
Code_Translation/CodeTrans/**/*.cs
Code_Translation/CodeTrans/**/*.json
Code_Translation/CodeTrans/**/*.jsonl
Code_Translation/CodeTrans/**/*.txt


Code_Translation/XLCoST/
Code_Repair/Bugs2Fix/
Code_Clone/BigCloneBench/


Dev_Test/


__pycache__
*.pyc
*.png